body {
    background-image: url(images/valorant\ wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 150px;
    text-align: center;
}

h1 {
    padding-top: 75px;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}

.img-split {
    width: 500px;
    padding-left: 15px;
}


.img-haven {
    width: 500px;
    height: 282px;
    padding-right: 15px;
}

.img-bind{
    width:500px;
    padding-left: 25px;
    padding-right: 25px;
}

.header {
    height: 60px;
    margin: 30px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}
.center {
    padding-top: 20px;
    text-align: center;
}

.button {
    background-color: blueviolet; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }