
.backgroundMain {
    background-image: url(images/valorant\ wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundHaven {
    background-image: url(images/valorant\ haven.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundBind {
    background-image: url(images/valorant\ Bind.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundSplit {
    background-image: url(images/Valorant\ Split.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    padding-top: 150px;
    text-align: center;
}

h1 {
    padding-top: 75px;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}
.imageButtonText {
    color:white;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}


.mapTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: monospace;
}

.column {
    float: left;
    width: 33.333333%;
}
.halfColumn{
    float: left;
    width: 50%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/*
LEGACY CODE

**** CANT THIS BE SIMPLE? ****


.img-split {
    width: 500px;
}


.img-haven {
    width: 500px;
    height: 282px;
}

.img-bind{
    width:500px;
    padding-left: 25px;
    padding-right: 25px;
} */



.img-map{
    width: 500px;
    height: 280px;

}
.spacing {
    margin-top: 100px;
    margin-bottom: 100px;
}
.header {
    height: 60px;
    margin: 30px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}
.center {
    padding-top: 20px;
    text-align: center;
}

.button {
    background-color: blueviolet; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px;
}

.topHeader {
    height: 60px;
    margin: 30px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    background: black;
    color: rebeccapurple;
    font-size: 30px;
}