
.backgroundMain {
    background-color: black;
    background-image: url(images/valorantwallpaper.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundHaven {
    background-color: black;
    background-image: url(images/valoranthaven.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundStratlist {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundBind {
    background-color: black;
    background-image: url(images/valorantBind.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundSplit {
    background-color: black;
    background-image: url(images/ValorantSplit.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    padding-top: 320px;
    text-align: center;
}
footer {
    font-family: monospace;
}
.footerText{
    position: fixed;
    left: 15px;
    bottom: 0;
    text-align: left;
    color: #38ffc5;
    font-size: 18px;
}
h1 {
    padding-top: 75px;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}
.alignRightFoot {
    text-align: right;
    position: fixed;
    right: 15px;
    bottom: 0;
    color: #38ffc5;
    font-size: 18px;
}
.imageButtonText {
    color:white;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.mapTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: monospace;
}

.column {
    float: left;
    width: 33.333333%;
}
.halfColumn{
    float: left;
    width: 50%;
}
.row {
    background-color: black;
    border: solid 5px black;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.hover-zoom {
    height: 282px;
    overflow: hidden;
}

.hover-zoom img {
    transition: transform .5s ease;
}
.hover-zoom:hover img {
    transform: scale(1.5);
}
.hover-zoom--blur img {
    transition: transform 1s, filter 1s ease-in-out;
    filter:blur(2px);
    transform: scale(1);
}

.hover-zoom--blur:hover img {
    filter: blur(0);
    transform: scale(1.2);
}



.img-map{
    width: 500px;
    height: 280px;
}
.spacing {
    margin-top: 100px;
    margin-bottom: 100px;
}
.inputText {
    height: 160px;
    font-family: monospace;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}
.lowerText {
    padding-top: 15px;
    font-size: 24px;
}
.upperText {
    font-size: 48px;
}
.header {
    overflow: hidden;
    -webkit-text-stroke: 0.75px black;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: #38ffc5;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 36px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header a.logo {
    font-size: 42px;
    font-family: monospace;
    font-weight: bold;
  }
  .header-right {
    float: right;
  }
.rightHeader {
    float: left;
    overflow: hidden;
    padding: 20px;
    color: #38ffc5;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 4px;
}
.center {
    text-align: center;
}

.button {
    background-color: #ed4862; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px;
}

.topHeader {
    height: 60px;
    margin: 30px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 64px;
}
.lowerHeader {
    height: 60px;
    margin: 30px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    color: blue;
    font-size: 32px;
}
.footerLink {
    color: #38ffc5;
}

.button1 {
    color: #494949;
    height: 120px;
    width: 300px;
    font-family: monospace;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    margin: 20px;
    border: 4px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button1:hover {
    color: #ffffff ;
    background: #38ffc5;
    border-color: 4px solid #494949;
    transition: all 0.4s ease 0s;
}